@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Светлая тема */
    --bg: #ffffff;
    --bg-secondary: #f3f4f6;
    --text: #111827;
    --text-secondary: #6b7280;
    --border-color: #e5e7eb;
    --primary: #3b82f6;
    --danger: #ef4444;
    --chord-color: red;
}

.dark {
    /* Темная тема */
    --bg: #1a1a1a;
    --bg-secondary: #2d2d2d;
    --text: #f3f4f6;
    --text-secondary: #9ca3af;
    --border-color: #374151;
    --chord-color: orange;
}

body {
    background-color: var(--bg);
    color: var(--text);
    transition: background-color 0.3s, color 0.3s;
}